.postBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;

}

.post-block{
    /*display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;*/
}