.header {
    background-color: lightsalmon;
    height: 70px;
    width: 100%;
    text-align: center;
    color: white;

}

.header img {
    background-color: transparent;
    width: 70px;
    height: 70px;
    font-weight: 500;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}