.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
padding: 8px;
}

.dialog {

}

.messages {
    padding: 8px;
    font-size: 20px;
    line-height: 32px;
}

.message {

}